<header>
    <nav class="navbar navbar-expand-md bg-light navbar-light">
        <a class="navbar-brand" href="#">Fybuild</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
        <div class="collapse navbar-collapse justify-content-end" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/home" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/about" href="#">About us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/service" href="#">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/contact" href="#">Contact</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="banner"><img src="assets/img/banner.jpg" /></div>
</header>