<div class="container-fluid">
    <div class="row">
        <div class="col-sm-8">
            <h3 class="mt-20">Welcome to Fybuild</h3>
            <p class="mt-20">Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea.</p>
            <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea.</p>
        </div>
        <div class="col-sm-4">
            <div class="mt-20 mainHall"><img src="assets/img/mainHall.jpg" /></div>
        </div>

    </div>
</div>
<div class="container-fluid mt-50 homeBlock">
    <div class="row">
        <div class="col-sm-4">
            <h3>Project 1</h3>
            <div class="mt-20"><img src="assets/img/home1.jpg/"></div>
            <p class="mt-20">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry 's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen
                book.
            </p>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry 's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen
                book.
            </p>
        </div>
        <div class="col-sm-4">
            <h3>Project 2</h3>
            <div class="mt-20"><img src="assets/img/home2.jpg/"></div>
            <p class="mt-20">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry 's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen
                book.
            </p>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry 's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen
                book.
            </p>
        </div>
        <div class="col-sm-4">
            <h3>Project 3</h3>
            <div class="mt-20"><img src="assets/img/home3.jpg/"></div>
            <p class="mt-20">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry 's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen
                book.
            </p>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry 's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen
                book.
            </p>
        </div>
    </div>
</div>